@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pocetna</title>
    <style>
        #img {
            margin: 0px auto;
        }
    </style>
</head>
<body>
    <h1 class="text-center" style="color:Highlight">@localizer["Dobrodosli"]</h1>
    <img src="~/image/med.jpg" width="1350" height="600" id="img" />
</body>
</html>
